title: Ughur Abbasov
description: Backend Developer and AI Enthusiast
url: "https://ugurabasov.github.io"
baseurl: "/UgurAbasov"
permalink: pretty

# Build settings
markdown: kramdown
highlighter: rouge


# Collections
collections:
  projects:
    output: true
    permalink: /projects/:path/

# Exclude from processing.

# The following items will not be processed, by default.
# Any item listed under the `exclude` key here will be automatically added to
# the internal "default list".
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .jekyll-cache
  - .sass-cache
  - .github